.author-story
  padding-top: 76px
  padding-bottom: 100px
  &__about
    display: flex
    justify-content: space-between
    padding-top: 28px
    margin-bottom: 24px
  &__title
    font-family: Roboto Condensed
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: #183B56
  &__who
    margin-right: 36px
    font-family: Open Sans
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 32px
    color: #5A7184
    width: 390px
